In [29]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD, evaluate

import warnings; warnings.simplefilter('ignore')

ModuleNotFoundError: No module named 'surprise'

In [30]:
# Load in csv file of Movies
csv_path = "cleaned data/movies.csv"
df = pd.read_csv(csv_path)
df.head()

,imdb_title_id,title,year,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,reviews_from_users,reviews_from_critics,month_published,genre_2,genre_3
0,tt0000009,Miss Jerry,1894,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,1.0,2.0,10,NaN,NaN
1,tt0002101,Cleopatra,1912,Drama,100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,25.0,3.0,11,History,NaN
2,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...",1912,Biography,60,USA,English,Sidney Olcott,Gene Gauntier,Kalem Company,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,484,13.0,5.0,1,Drama,NaN
3,tt0003643,The Avenging Conscience: or 'Thou Shalt Not Kill',1914,Crime,78,USA,English,D.W. Griffith,Edgar Allan Poe,Majestic Motion Picture Company,"Henry B. Walthall, Spottiswoode Aitken, Blanch...",Prevented from dating his sweetheart by his un...,6.4,1105,14.0,11.0,8,Drama,Horror
4,tt0003657,The Bargain,1914,Western,70,USA,English,Reginald Barker,William H. Clifford,New York Motion Picture,"William S. Hart, J. Frank Burke, Clara William...",After the bandit Jim Stokes robs the stage he ...,6.5,144,8.0,3.0,12,NaN,NaN

In [8]:
#Fill in any blank descriptions
df['description'] = df['description'].fillna('')

In [9]:

tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(df['description'])

In [45]:
#display the shape of the matrix
tfidf_matrix.shape

(25083, 295949)

In [11]:
#calaculate the  Cosine Similarity Score
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [12]:
#display the  Cosine Similarity Score
cosine_sim[0]

array([1., 0., 0., ..., 0., 0., 0.])

In [13]:
#reset index of csv and create lists of title 
md = df.reset_index()
titles = df['title']
indices = pd.Series(df.index, index=df['title'])

In [14]:
#define what steps will be taken to conpare descriptions and give recommendations
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [46]:
#take in user input of a movie they like

movie_name = input("Enter a move you like: ")

Enter a move you like: The Avengers

In [47]:
# Maybe add an else if statment for movies not in database
get_recommendations(movie_name).head(10)

21407           Avengers: Age of Ultron
23644                   Grandma's House
21704                       Wastelander
11000                        Alien Seed
18298                   Red Dirt Rising
21382      Dark Skies - Oscure presenze
20186    Evil Bong 3: The Wrath of Bong
17786     L'ultimo dominatore dell'aria
13493                     Lost in Space
9886                  Twice Upon a Time
Name: title, dtype: object